@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(38, 18, 18);
    color: white;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-size: 27px;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}
nav ul{
    list-style-type: none;
}
.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: "Roboto", sans-serif;
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(234, 214, 234);
}
.info-bar{
    display: flex;
    gap:45px;
}
.gameInfo{
    padding: 0 34px;
    font-family: "Baloo Bhaijaan 2", sans-serif;

}
#reset{
    background-color: #edd0ed;
    font-family: "Baloo Bhaijaan 2", sans-serif; 
    padding: 0 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}
#reset:hover{
    background-color: #f275f0;
}
.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}
.bl-0{
    border-left: 0;
}
.br-0{
    border-right: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
@media screen and (max-width: 950px){
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 2rem;
    }
    .container {
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}